---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import PageHeading from "@/components/ui/PageHeading.astro";
import ProjectCard from "@/components/ui/ProjectCard.astro";
import { getCollection } from "astro:content";

const projectList = await getCollection("projects");
projectList.sort(
  (a, b) =>
    -a.data.pubDate.toISOString().localeCompare(b.data.pubDate.toISOString()),
);
---

<Layout title="Projects">
  <section>
    <div class="dots py-14">
      <div class="layout">
        <PageHeading
          title="Projects"
          description="A compilation of projects that demonstrate my proficiency in both frontend and backend development. I consistently enhance my skills and acquire new knowledge, continually advancing as a developer."
        />
      </div>
    </div>

    <div class="layout mt-10 pb-20">
      <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
        {
          projectList.map((project) => (
            <ProjectCard
              projectTitle={project.data.projectTitle}
              excerpt={project.data.excerpt}
              liveLink={project.data.liveLink}
              imageSm={project.data.imageSm.url}
              imageLg={project.data.imageLg.url}
              height={project.data.height}
              width={project.data.width}
              alt={project.data.imageSm.alt}
              sizes={project.data.sizes}
              slug={project.slug}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
