---
import SectionHeading from "../ui/SectionHeading.astro";
import ButtonLink from "../ui/ButtonLink.astro";
import { Icon } from "astro-icon/components";
import BlogCard from "../ui/BlogCard.astro";
import { getCollection } from "astro:content";

const blogCollection = await getCollection("blogs");
---

<div class="layout my-10 py-20 lg:my-20">
  <SectionHeading title="Blogs" />
  <div
    class="my-10 grid grid-cols-1 gap-10 md:grid-cols-2 lg:mt-14 lg:grid-cols-3"
  >
    {
      blogCollection.map((blog) => (
        <BlogCard
          blogTitle={blog.data.blogTitle}
          excerpt={blog.data.excerpt}
          imageSm={blog.data.imageSm.url}
          imageLg={blog.data.imageLg.url}
          height={blog.data.height}
          width={blog.data.width}
          alt={blog.data.imageSm.alt}
          sizes={blog.data.sizes}
          slug={blog.slug}
          date={blog.data.pubDate.toLocaleDateString(undefined, {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        />
      ))
    }
  </div>
  <ButtonLink href="/blogs" variant="secondary">
    More blogs
    <Icon
      name="arrow-right"
      class="ml-2 h-5 w-5"
      title="link to project details"
    />
  </ButtonLink>
</div>
