---
import SectionHeading from "../ui/SectionHeading.astro";
import ButtonLink from "../ui/ButtonLink.astro";
import { Icon } from "astro-icon/components";
import BlogCard from "../ui/BlogCard.astro";

const blogs = [
  {
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    sizes: "(max-width: 200px) 100vw, 45vw",
    height: "1000",
    width: "1000",
    alt: "blog post",
    imgStyle: "h-[12.5rem] rounded-t-xl object-cover",
    blogTitle: "Shorten a string to max length",
    date: "December 12, 2023",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    sizes: "(max-width: 200px) 100vw, 45vw",
    height: "1000",
    width: "1000",
    alt: "blog post",
    imgStyle: "h-[12.5rem] rounded-t-xl object-cover",
    blogTitle: "Shorten a string to max length",
    date: "December 12, 2023",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705712922/portfolio/blogs/blog-1000w_ps5ptt.webp",
    sizes: "(max-width: 200px) 100vw, 45vw",
    height: "1000",
    width: "1000",
    alt: "blog post",
    imgStyle: "h-[12.5rem] rounded-t-xl object-cover",
    blogTitle: "Shorten a string to max length",
    date: "December 12, 2023",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
];
---

<div class="layout my-10 py-20 lg:my-20">
  <SectionHeading title="Blogs" />
  <div
    class="my-10 grid grid-cols-1 gap-10 md:grid-cols-2 lg:mt-14 lg:grid-cols-3"
  >
    {
      blogs.map(
        ({
          blogTitle,
          imgSM,
          imgLG,
          height,
          width,
          alt,
          imgStyle,
          sizes,
          date,
          description,
        }) => (
          <BlogCard
            blogTitle={blogTitle}
            imgSM={imgSM}
            imgLG={imgLG}
            height={height}
            width={width}
            alt={alt}
            imgStyle={imgStyle}
            sizes={sizes}
            date={date}
            description={description}
          />
        ),
      )
    }
  </div>
  <ButtonLink href="/blogs" variant="secondary">
    More blogs
    <Icon
      name="arrow-right"
      class="ml-2 h-5 w-5"
      title="link to project details"
    />
  </ButtonLink>
</div>
