---
import SectionHeading from "../ui/SectionHeading.astro";
import Project from "./Project.astro";
import ButtonLink from "../ui/ButtonLink.astro";
import { Icon } from "astro-icon/components";

const projectList = [
  {
    name: "Sk8 N Meet Santana",
    excerpt:
      "The Sk8NMeet Santana website where you can view upcoming / past meetups, photos from meetups, and contact team members.",
    liveLink: "https://sk8nmeetsantana.com/",
    githubLink: "https://github.com/antonio-lopez/sk8-n-meet",
    tags: ["Next JS", "Sanity io", "Storybook", "Cloudinary"],
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705622566/portfolio/sk8-n-meet-santana/sk8nmeet-santana-cover700w_gfpq8f.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705681879/portfolio/sk8-n-meet-santana/sk8nmeet-santana-cover1000w_jwjbxl.webp",
    height: "370",
    width: "700",
    alt: "sk8 n meet santana project cover",
    imgStyle: "rounded-xl object-cover h-full w-full",
    sizes: "(max-width: 200px) 100vw, 45vw",
    left: false,
    order: "01",
  },
  {
    name: "Anilog",
    excerpt:
      "An anime and manga tracker built with NextJS and GraphQL. The Anilist GraphQL API is used for static and dynamic queries on the server and client.",
    liveLink: "https://anilog.vercel.app/",
    githubLink: "https://github.com/antonio-lopez/anilog",
    tags: ["Next JS", "Tailwind CSS", "Storybook", "GraphQL"],
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705687144/portfolio/anilog/anilog-cover-700w_isjjzs.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705687145/portfolio/anilog/anilog-cover-1000w_yzm9v6.webp",
    height: "370",
    width: "700",
    alt: "anilog project cover",
    imgStyle: "rounded-xl object-cover h-full w-full",
    sizes: "(max-width: 200px) 100vw, 45vw",
    left: true,
    order: "02",
  },
  {
    name: "What The Park",
    excerpt:
      "Explore national parks from across the United States. Ensure a seamless and stress-free journey to your destination by viewing general park information, weather conditions, and ways of getting there.",
    liveLink: "https://what-the-park.vercel.app/",
    githubLink: "https://github.com/antonio-lopez/what-the-park",
    tags: ["Next JS", "Tailwind CSS", "Shadcn UI", "API"],
    imgSM:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705687178/portfolio/what-the-park/what-the-park-cover-700w_uxsu2g.webp",
    imgLG:
      "https://res.cloudinary.com/dloisor1x/image/upload/v1705687179/portfolio/what-the-park/what-the-park-cover-1000w_vwgfiw.webp",
    height: "370",
    width: "700",
    alt: "what the park project cover",
    imgStyle: "rounded-xl object-cover h-full w-full",
    sizes: "(max-width: 200px) 100vw, 45vw",
    left: false,
    order: "03",
  },
];
---

<section class="layout my-20">
  <SectionHeading title="Projects" />
  <div class="mt-10 lg:mt-14">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-x-20 lg:gap-y-28">
      {
        projectList.map(
          ({
            name,
            excerpt,
            liveLink,
            githubLink,
            tags,
            imgSM,
            imgLG,
            height,
            width,
            alt,
            imgStyle,
            sizes,
            left,
            order,
          }) => (
            <Project
              name={name}
              excerpt={excerpt}
              liveLink={liveLink}
              githubLink={githubLink}
              tags={tags}
              imgSM={imgSM}
              imgLG={imgLG}
              height={height}
              width={width}
              alt={alt}
              imgStyle={imgStyle}
              sizes={sizes}
              left={left}
              order={order}
            />
          ),
        )
      }
    </div>
  </div>
  <div class="lg:mt-10">
    <ButtonLink
      href="/"
      target="_blank"
      rel="noopener noreferrer"
      variant="secondary"
    >
      More Projects
      <Icon
        name="arrow-right"
        class="ml-2 h-5 w-5"
        title="link to project details"
      />
    </ButtonLink>
  </div>
</section>
