---
import SectionHeading from "../ui/SectionHeading.astro";
import Project from "./Project.astro";
import ButtonLink from "../ui/ButtonLink.astro";
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";

const sk8nmeetProject = await getEntry("projects", "sk8-n-meet-santana");
const anilogProject = await getEntry("projects", "anilog");
const whatTheParkProject = await getEntry("projects", "what-the-park");
const projectList = [sk8nmeetProject, anilogProject, whatTheParkProject];
---

<section class="layout my-20">
  <SectionHeading title="Projects" />
  <div class="mt-10 lg:mt-14">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-x-20 lg:gap-y-28">
      {
        projectList.map((project) => (
          <Project
            projectTitle={project.data.projectTitle}
            excerpt={project.data.excerpt}
            liveLink={project.data.liveLink}
            imageSm={project.data.imageSm.url}
            imageLg={project.data.imageLg.url}
            height={project.data.height}
            width={project.data.width}
            alt={project.data.imageSm.alt}
            sizes={project.data.sizes}
            slug={project.slug}
            left={project.data.left}
            order={project.data.order}
            tags={project.data.tags}
          />
        ))
      }
    </div>
  </div>
  <div class="lg:mt-10">
    <ButtonLink href="/projects" variant="secondary">
      More Projects
      <Icon
        name="arrow-right"
        class="ml-2 h-5 w-5"
        title="link to project details"
      />
    </ButtonLink>
  </div>
</section>
