---
import { Icon } from "astro-icon/components";
import ButtonLink from "./ButtonLink.astro";

interface Props {
  imageSm: string;
  imageLg: string;
  sizes: string;
  height: string;
  width: string;
  alt: string;
  imgStyle: string;
  projectTitle: string;
  excerpt: string;
  liveLink: string;
  slug: string;
}

const {
  projectTitle,
  imageSm,
  imageLg,
  height,
  width,
  alt,
  imgStyle,
  sizes,
  liveLink,
  slug,
  excerpt,
} = Astro.props;
---

<div class="flex flex-col space-y-6 rounded-xl border border-primary p-4">
  <picture>
    <source
      type="image/webp"
      srcset={`${imageSm} 700w, ${imageLg} 1000w`}
      sizes={sizes}
    />

    <img
      src={imageSm}
      loading="lazy"
      height={height}
      width={width}
      alt={alt}
      class={imgStyle}
    />
  </picture>

  <div class="flex flex-col space-y-1">
    <h3 class="text-xl font-semibold lg:text-2xl">
      {projectTitle}
    </h3>
    <p class="lg:text-lg">
      {excerpt}
    </p>
  </div>

  <div class="flex items-center justify-between">
    <ButtonLink href={liveLink} target="_blank" rel="noopener noreferrer">
      Live
      <Icon name="open" class="ml-2 h-5 w-5" title="link to live project" />
    </ButtonLink>
    <ButtonLink href={"/projects/" + slug} variant="secondary">
      View Project
      <Icon
        name="arrow-right"
        class="ml-2 h-5 w-5"
        title="link to project details"
      />
    </ButtonLink>
  </div>
</div>
