---
import { Icon } from "astro-icon/components";
import ButtonLink from "./ButtonLink.astro";

interface Props {
  imageSm: string;
  imageLg: string;
  sizes: string;
  height: string;
  width: string;
  alt: string;
  blogTitle: string;
  date: string;
  excerpt: string;
  slug: string;
}

const {
  blogTitle,
  imageSm,
  imageLg,
  height,
  width,
  alt,
  sizes,
  date,
  excerpt,
  slug,
} = Astro.props;
---

<div class="flex flex-col space-y-6 rounded-xl border border-primary p-4">
  <picture>
    <source
      type="image/webp"
      srcset={`${imageSm} 700w, ${imageLg} 1000w`}
      sizes={sizes}
    />

    <img
      src={imageSm}
      loading="lazy"
      height={height}
      width={width}
      alt={alt}
      class="rounded-t-xl"
    />
  </picture>

  <div class="flex h-full flex-col justify-between space-y-6">
    <div class="flex flex-col space-y-1">
      <h2 class="text-xl font-semibold">
        {blogTitle}
      </h2>
      <p class="text-sm font-semibold">{date}</p>
      <p class="lg:text-lg">
        {excerpt}
      </p>
    </div>
  </div>

  <ButtonLink href={"/blogs/" + slug} variant="link" size="link">
    Read article
    <Icon name="arrow-right" class="ml-[2px] h-6 w-7" title="link to blog" />
  </ButtonLink>
</div>
